
.first-column{
    display:flex;
    flex-direction: column;
    flex:2;
    
    
}
#intro{
    display:flex;
    justify-content: flex-start;
    margin-left:100px;
    color:white;
    margin-top:200px;
    
}
#role{
    color:red;
    display:flex;
    margin-left:100px;
    margin-top:-30px;
}
#dev{
    display:flex;
    margin-left:260px;
    margin-top:-60px;
    color:white;
}
#hirebtn{
    width:100px;
    height:50px;
    z-index:2;
    margin-left:100px;
    border:none;
    background: red;
    color:white;
    border-radius: 20px;
}

.main-home{
    background-color: black;
    margin-top:-100px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-color:white;
    margin-left:102px;
    font-family: 'Playfair Display', serif;
    
    
}
.second-column{
    display:flex;
    flex:1;
    justify-content: flex-end;
    
    overflow:hidden;
    width:100%;
    height:300px;
    margin-top:-320px;
    padding:210px;
    padding-bottom:300px;
    

}
#main-body-image{
    z-index:1;
    opacity:0.5;
    box-shadow:2px 2px 4px  rgb(194, 23, 23);
    border-radius:100px;
    width:500px;
    height:300px;
    margin-right:250px;
    
    
}
#projects12{
    width:100px;
    margin-left:210px;
    position: absolute;
    margin-top:316px;
    z-index:5;
    width:120px;
    height:50px;
    background:transparent;
    color:white;
    border:none;
    text-decoration: none;
    font-size:14px;
}
#projects12:hover{
    cursor: pointer;
    color:red;
}
#icon{
    color:red;
}
.social-icons{
    position: absolute;
    display:flex;
    font-size:50px;
    gap:30px;
    margin-left:100px;
    margin-top:100px;
    border:none;
}


#facebook{
    color:rgb(77, 77, 231);
    border:none;
    border-radius:40%;
    
}
#facebook:hover{
    box-shadow: 2px 0 2px 2px red;
    
}
#linkedin:hover{
    box-shadow: 2px 0 2px 2px red;
    
}
#github:hover{
    box-shadow: 2px 0 2px 2px red;
    
}
#linkedin{
    color:rgb(57, 188, 205);
    border:none;
    border-radius:50%;
}
#github{
    color:white;
    border:none;
    border-radius:50%;
}

@media screen and (max-width: 768px){
    .second-column{
        height:270px;
        margin-left:40px;
    }
    #main-body-image{
        margin-top:-90px;
        
        
    }
    #intro{
        margin-top:100px;
    }
    #projects12{
        margin-top:215px;
    }
    
    .social-icons{
        margin-top:200px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        margin-left:120px;
        gap:30px;
       
    }
    
}
    

